@media (max-width: 768px) {
    nav .fa-solid {
        display: block;
    }
    .nav-links i.fa-xmark {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
    }
    nav .fa-bars {
        display: block;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links {
        position: fixed;
        background: #f44336;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -220px;
        text-align: left;
        padding-top: 60px;
        transition: right 0.4s ease-in-out;
        z-index: 999;
    }
    .nav-links ul {
        padding: 0 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .row {
        flex-direction: column;
    }
    .campus-col img {
        width: 100%;
        height: 100%;
    }
    .testinomials-col img {
        margin-left: 0;
        margin-right: 15px;
    }
    .cta-section h1 {
        font-size: 24px;
    }
}