@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

/* ---------- Header Section ---------- */
.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("/images/background.jpg") center/cover no-repeat;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav .fa-solid {
    display: none;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
    transition: 1s;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    font-size: 14px;
    margin: 10px 0 40px;
}

.hero-btn {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    font-size: 13px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

/* ---------- Courses Section ---------- */
.course-section {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.course-section h1,
.campus-section h1 {
    font-size: 34px;
    font-weight: 600;
}

.course-section p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    margin-bottom: 5%;
    background: #fff3f3;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
}

.course-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.course-col h3 {
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

/* ---------- Campus Section ---------- */
.campus-section {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.campus-col {
    flex-basis: 32%;
    margin-bottom: 5%;
    background: #fff3f3;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    height: 100%;
}

.layer {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.5s;
}

.layer h3 {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* ---------- Facilities Section ---------- */
.facilities-section {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.facilities-col {
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.facilities-col h3 {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* ---------- Testimonials Section ---------- */
.testinomials-section {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testinomials-col {
    flex-basis: 44%;
    margin-bottom: 5%;
    border-radius: 10px;
    text-align: left;
    background: #fff3ff;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testinomials-col img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 50%;
}

.testinomials-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testinomials-col .fa-solid {
    color: #f44336;
}

/* ---------- Call To Action Section ---------- */
.cta-section {
    width: 80%;
    margin: 100px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/background.jpg") center/cover no-repeat;
    text-align: center;
    border-radius: 10px;
    padding: 100px 0;
}

.cta-section h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* ---------- Footer Section ---------- */
.footer {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    text-align: center;
}

.footer h4 {
    margin-top: 25px;
    margin-bottom: 20px;
}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px;
}

.footer .fa-solid {
    color: #f44336;
}

/* ---------- Contact Page ---------- */
.contact-section {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.contact-col {
    flex-basis: 44%;
    margin-bottom: 5%;
    text-align: left;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col div .fa {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
    color: #777;
}

.contact-col div h5 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 600;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

.contact-col textarea {
    resize: vertical;
}

.contact-col .hero-btn {
    background: #f44336;
    border: 1px solid #f44336;
    color: #fff;
}

.contact-col .hero-btn:hover {
    background: #ad2f26;
    border: 1px solid #ad2f26;
}